   .login-page {
    height: 100vh;
    background-position: center;
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom, #4b6cb7,  #182848, rgb(128, 80, 80));
    background-size: cover;
    background-blend-mode: multiply;
  }
  
  .login-form {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
  }
  
  .brand {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .brand img {
    height: 50px;
  }
  
  .form-control-lg {
    border-radius: 50px;
    height: 60px;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 500;
    box-shadow: none;
  }
  
  .form-control-lg:focus {
    box-shadow: none;
    border-color: #007bff;
  }
  
  .btn-lg {
    border-radius: 50px;
    height: 60px;
    font-size: 18px;
    font-weight: 600;
    background-color: #007bff;
    border-color: #007bff;
    margin-top: 20px;
  }
  
  .btn-lg:hover {
    background-color: #0062cc;
    border-color: #005cbf;
  }
  
  .text-muted a {
    color: #007bff;
  }
  
  .text-muted a:hover {
    color: #005cbf;
  }
  
  .inputgroup-text {
    border-radius: 50px;
  }