.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rowC {
  display: flex;
  flex-direction: row;
  height: 240px;
  width: 100%;
  margin-top: 50px;
  padding-left: 3%;
  padding-right: 3%;
  box-sizing: border-box;
  margin-bottom: 50px;
  justify-content: space-around;
  border-radius: 15px;
}

.colC {
  justify-content: space-around;
  align-items: center;
  width: 20%;
  height: 100%;
  background-color: gray;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  -moz-box-align: center;
  display: flex;
  flex-direction: column;
}

.image {
  width: 140px;
}

.imageCaption {
  width: 70%;
  background-color: white;
  outline: none;
  border: medium none;
  border-radius: 5px;
  font-size: 18px;
  color: rgb(48, 48, 48);
}

.myOwn:hover {
  background-color: greenyellow;
  border-color: black; 
}

.myOwn {
  padding: 15px 30px;
  border-radius: 10px;
}

.video-header {
  position: absolute;
  text-align: center;
  width: 100vw;
  height: 100vh;
}
.video-header, .video-header video, .video-header .viewport-header {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
.video-header video {
  object-fit: cover;
}
.video-header .viewport-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header1 {
  font-family: 'Syncopate', sans-serif;
  color: green;
  text-transform: uppercase;
  letter-spacing: 3vw;
  line-height: 1.2;
  font-size: 3vw;
  text-align: center;
}
.header1 .span {
  display: block;
  font-size: 10vw;
  letter-spacing: -0.6rem;
}